<h1>Artists:</h1>
<ul>
<% @artists.each do |artist| %>
<li><%= artist.name %></li>
<li><%= artist.song_count if artist.songs %></li>
  <ul>
    <% artist.songs.each do |song| %>
    <li><%= song.title %>
      <% end %>
    </ul>
    <% end %>
  </ul>
